# **B. Dataset I/O**

Pandas menyediakan berbagai method untuk membaca file tersebut hanya dengan dipanggil method itu, code yang lebih simple dan loading yang lebih, tentu saja output nya dapat berupa Series atau Dataframe.

Terdapat sangat banyak file yang dapat dibaca/dapat disimpan oleh Pandas, tapi ada beberapa file yang paling umum dan sering digunakan oleh praktisi data seperti berikut ini:

* **CSV** (*Comma Separated Values*), antar data dalam satu baris dipisahkan oleh comma, ",".
* **TSV** (*Tab Separated Values*), antar data dalam satu baris dipisahkan oleh "Tab".
* **Excel**
* **Google BigQuery**
* **SQL Query**
* **JSON** (*Java Script Object Notation*)

## **1. Read Dataset - CSV dan TSV**
**CSV** dan **TSV** pada hakikatnya adalah tipe data text dengan perbedaan terletak pada pemisah antar data dalam satu baris. Pada *file* CSV, antar data dalam satu baris dipisahkan oleh *comma*, ",". Namun, pada file *TSV* antar data dalam satu baris dipisahkan oleh "**Tab**".

Fungsi .***read_csv()*** digunakan untuk membaca file yang value-nya dipisahkan oleh comma (*default*), terkadang pemisah value-nya bisa di set ‘\t’ untuk file tsv (*tab separated values*).

**Notes** :

**Dataset csv** : https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv

**Dataset tsv** : https://github.com/rahmadsa/dataset/blob/main/sample_tsv.tsv

**Membaca file CSV**

![Kode Membaca file CSV](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-2205-30-14.png?raw=true)

**Membaca file TSV**

![Kode Membaca file CSV](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-05-38-40.png?raw=true)





**Tugas praktek:**

Pada code cell editor dibawah ini dapat dilihat kode-kode yang tidak lengkap. Tugas kamu sekarang adalah mengganti tanda _ _ _ di code editor dengan yang sesuai seperti yang diberikan pada contoh di atas.

Tampilkanlah tiga data teratas dari kedua jenis file tersebut

In [ ]:
import ___ as ___
# File CSV
df_csv = pd.___(___)
print(df_csv.___) # Menampilkan 3 data teratas
# File TSV
df_tsv = pd.___(___, sep=___)
print(df_tsv.___) # Menampilkan 3 data teratas

## **2. Read Dataset - Excel**
File Excel dengan ekstensi ***.xls** atau ***.xlsx** cukup banyak digunakan dalam menyimpan data. Pandas juga memiliki fitur untuk membaca file excel.

**Notes :**

**Dataset :** https://github.com/rahmadsa/dataset/blob/main/sample_excel.xlsx

Fungsi ***.read_excel()*** digunakan untuk membaca file excel menjadi dataframe pandas.

![Kode Read xls](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-2205-30-14.png?raw=true)




**Tugas praktek:**

Pada cell editor dibawah ini dapat dilihat kode-kode yang tidak lengkap. Lengkapilah kode tersebut dengan mengganti tanda _ _ _ di cell editor dengan yang sesuai seperti yang diberikan pada contoh di atas.

Tampilkanlah sepuluh data teratas dari file excel yang telah dibaca!

In [ ]:
import pandas as pd
# File xlsx dengan data di sheet "test"
df_excel = pd.___(___, sheet_name=___)
print(df_excel.___) # Menampilkan 4 data teratas

## **3. Read Dataset - JSON**

Method ***.read_json()*** digunakan untuk membaca URL API yang formatnya JSON dan mengubahnya menjadi dataframe pandas. Method ini dapat digunakan seperti yang dicontohkan berikut ini:

Dataset JSON: https://github.com/rahmadsa/dataset/blob/main/covid2019-api.json

Fungsi .read_json() digunakan untuk membaca json API menjadi dataframe pandas:

![Kode](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-06-01-59.png?raw=true)

**Tugas praktek:**

Pada cell editor dibawah ini dapat dilihat kode-kode yang tidak lengkap. Tugas sekarang adalah mengganti tanda _ _ _ di cell editor dengan yang sesuai seperti yang diberikan pada contoh di atas.

Tampilkanlah sepuluh data teratas dari file JSON yang telah dibaca!

In [ ]:
import ___
# File JSON
url = ___
df_json = pd.___(___)
print(___) # Menampilkan 10 data teratas

## **4. Read Dataset - RDBMS (SQLite)**

Methode pembacaan RDBMS (SQLite) disajikan pada notebook berbeda

## **5. Head Dan Tail**
Seperti yang telah dipelajari sebelumnya bahwa ada method .head yang diterapkan pada suatu variabel bertipe pandas dataframe/series.

Method .head ditujukan untuk membatasi tampilan jumlah baris teratas dari dataset. Sementara itu, method .tail ditujukan untuk membatasi jumlah baris terbawah dari dataset.

Secara umum kedua method ini memiliki bentuk


```python
[nama_dataframe].head(n)
```
dan

```python
[nama_dataframe].tail(n)
```

dengan **n** merupakan jumlah baris yang akan ditampilkan, jika tidak disebutkan **n = 5** (sebagai nilai default dari n).

![Kode Head & Tails](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-06-15-15.png?raw=true)

**Tugas Praktek:**

**Notes :**

**Dataset csv** : https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv

Berdasarkan *file sample_csv.csv* dengan alamat dataset diatas cetaklah 3 data teratas dan 3 data terbawah.

In [ ]:
import ___
# Baca file sample_csv.csv
df = ___
# Tampilkan 3 data teratas
print("Tiga data teratas:\n", ___)
# Tampilkan 3 data terbawah
print("Tiga data terbawah:\n", ___)

### **6. Write Dataset**
Dalam bekerja sebagai data analisis setelah dilakukan data *cleaning dataset* yang sudah rapi tentunya disimpan terlebih dahulu ke dalam media penyimpanan.  

Pandas menyediakan fitur demikian secara ringkas melalui penerapan method pada dataframe/series yang ditabelkan berikut ini:

![Tabel Read Dataset](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-06-25-03.png?raw=true)

**Tugas Praktek 4 :**

Carilah refrensi cara menggabungkan beberapa dataframe kedalam sebuah dataframe baru.

Berikut disajikan dua buah dataset :

1. **Dataset csv** : https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv

2. **Dataset tsv** : https://github.com/rahmadsa/dataset/blob/main/sample_tsv.tsv


*Requirement* :

1. Buatlah Dataset baru yang merupakan gabungan 2 (dua) dataset diatas dalam sebuah dataframe baru dengan nama  df_NIM_Anda contoh *df_19979922*.
2. Tampilkan jumlah masing-masing data pada dataframe point no 1 (dataset 1 dan dataset 2)
3. Tampilkan jumlah data pada dataset data baru dari requirement nomor 1
4. Tampilkan 10 data teratas dan 10 data terbawah, dari data frame baru point no 1

In [ ]:
#Jawaban